@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewBag.Message</p>

<div class="row">
	<div class="col-md-4">
		<a class="btn btn-lg btn-primary" asp-action="FAQ" asp-route-selected="2">FAQ - Selektiran odgovor 2</a>
	</div>
	<div class="col-md-4">
		<a class="btn btn-lg btn-danger" asp-action="FAQ">FAQ</a>
	</div>
</div>