@using Vjezba.Web.Models

@model ClientFilterModel

<form action="@Url.Action("Index")" method="post">
	<div class="row">
		<div class="col">
			<input asp-for="FullName" class="form-control" type="text" placeholder="Ime i prezime" />
		</div>
		<div class="col">
			<input asp-for="Address" class="form-control" type="text" placeholder="Adresa" />
		</div>
		<div class="col">
			<input asp-for="Email" class="form-control" type="text" placeholder="Email" />
		</div>
		<div class="col">
			<input asp-for="City" class="form-control" type="text" placeholder="Grad" />
		</div>
		<div class="col">
			<button type="submit" class="btn btn-outline-info">Pretraga</button>
			<a asp-action="Create" class="btn btn-success">Novi</a>
		</div>
	</div>
</form>